<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CEMENT</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="/js/file-upload.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h4 class="card-title">멤버 계정 신청</h4>
                <p class="card-description"> 신청 후 이메일로 확인 메일이 발송됩니다 </p>
                <form class="forms-sample" action="/register" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="exampleInputEmail1">이메일</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">이름</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="이름" name="username" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">암호</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="암호" name="password" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputConfirmPassword1">암호 확인</label>
                    <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="암호 확인" name="confirmPassword" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputConfirmPassword1">전화번호</label>
                    <input type="text" class="form-control" id="examplePhone1" placeholder="예: 010-1234-5678" name="phone" required>
                  </div>
                  <div class="form-group">
                    <label>프로필 사진</label>
                    <input type="file" name="profile_image" class="file-upload-default" accept=".jpg, .png">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="이미지 업로드" required >
                      <span class="input-group-append">
                          <button class="file-upload-browse btn btn-outline-info btn-icon-text" type="button"> 업로드 </button>
                        </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>성별</label>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="male" value="Male" checked> 남자 </label>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="gender" id="female" value="Female"> 여자 </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleAge1">나이</label>
                    <input type="number" class="form-control" id="exampleAge1" min="15" max="90" value=20 name="age">
                  </div>
                  <button type="submit" class="btn btn-primary mr-2" id="submit">신청하기</button>
                  <a class="btn btn-dark" href="/login">취소</a>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <script src="/js/file-upload.js"></script>
    <script>
      var password = document.getElementById("exampleInputPassword1")
              ,confirm_password = document.getElementById("exampleInputConfirmPassword1");

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;

      function validatePassword(){
        if(password.value != confirm_password.value) { // 만일 두 인풋 필드값이 같지 않을 경우
          // setCustomValidity의 값을 지정해 무조건 경고 표시가 나게 하고
          confirm_password.setCustomValidity("암호가 일치하지 않습니다");
        }
        else { // 만일 두 인풋 필드값이 같을 경우
          // 오류가 없으면 메시지를 빈 문자열로 설정해야한다. 오류 메시지가 비어 있지 않은 한 양식은 유효성 검사를 통과하지 않고 제출되지 않는다.
          // 따라서 빈값을 주어 submit 처리되게 한다
          confirm_password.setCustomValidity('');
        }

      }

      let phone = document.getElementById("examplePhone1");
      let phoneRule = /^(01[016789]{1})-[0-9]{4}-[0-9]{4}$/;

      phone.onkeyup = isHpFormat;
      function isHpFormat(){
        if(!phoneRule.test(phone.value)){
          phone.setCustomValidity("전화번호 형식이 유효하지 않습니다");
        }
        else {
          phone.setCustomValidity('')
        }
      }
    </script>
    <!-- endinject -->
  </body>
</html>